{% extends 'GestionAdresseLivraison/livraison/bars.html.twig' %}

{% block contenpage %}
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h5>
                    {{ "MANAGE DELIVERIES"|trans }}
                </h5>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>{{ ""|trans }}</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a href="{{ path('livraison_new') }}" class="btn btn-success">NEW</a>
                                <a href="{{ path('livraison_export_pdf') }}" class="btn btn-success">PDF</a>
                                <a href="{{ path('livraison_export_excel') }}" class="btn btn-success">EXCEL</a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form id="search-form" method="post">
                             {{ form_widget(form.search, {'attr': {'placeholder': 'Search here ...', 'class': 'form-control-sm', 'style': 'width: 300px'}}) }}
</form>

                            </form>
                           <a href="{{ path('livraison_index', {'sortBy': sortBy, 'sortOrder': 'ASC'}) }}" class="btn btn-primary">
    <i class="fas fa-sort-up">ASC</i> 
</a>

<a href="{{ path('livraison_index', {'sortBy': sortBy, 'sortOrder': 'DESC'}) }}" class="btn btn-primary">
    <i class="fas fa-sort-down">DESC</i> 
</a>

                            <table id="example" class="display table table-striped table-bordered dataminetables">
                                <thead>
                                    <th><input type="checkbox" id="select_all" name="select_all"></th>
                                    <th>{{ "Id"|trans }}</th>
                                    <th>{{ "Date de livraison"|trans }}</th>
                                    <th>{{ "Statut"|trans }}</th>
                                    <th>{{ "Dépot"|trans }}</th>
                                    <th>{{ "Adresse"|trans }}</th>
                                </thead>
                                <tbody id="livraison-list">
                                    {% for livraison  in livraisons  %}
                                        <tr>
                                            <td><input type="checkbox" class="chkgrp" name="chkgrp[]" value="{{ livraison.id }}"></td>
                                            <td>{{ livraison.id }}</td>
                                            <td>{{ livraison.dateDeLivraison|date('d/m/Y') }}</td>
                                            <td>{{ livraison.statut }}</td>
                                            <td>{{ livraison.depot }}</td>
                                            <td>{{ livraison.adresse.ville }}</td>
                                            <td>
                                                <a class="btn btn-primary" href="{{ path('livraison_edit',{'id': livraison.id}) }}">
                                                    <i class="fa fa-edit">UPDATE</i>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="{{ path('livraison_delete', {'id': livraison.id}) }}" class="btn btn-danger disable-btn del-link" type="submit">
                                                    <i class="fa fa-trash">DELETE</i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
						<!-- Pagination personnalisée -->
<nav aria-label="...">
    <ul class="pagination">
        {# Lien vers la page précédente #}
        <li class="page-item {% if livraisons.getCurrentPageNumber() == 1 %}disabled{% endif %}">
            <a class="page-link" href="{{ path('livraison_index', {'page': livraisons.getCurrentPageNumber() - 1}) }}" tabindex="-1">Previous</a>
        </li>
        {# Liens vers chaque page #}
        {% for page in 1..livraisons.pageCount %}
            <li class="page-item {% if livraisons.getCurrentPageNumber() == page %}active{% endif %}">
                <a class="page-link" href="{{ path('livraison_index', {'page': page}) }}">{{ page }} {% if livraisons.getCurrentPageNumber() == page %}<span class="sr-only">(current)</span>{% endif %}</a>
            </li>
        {% endfor %}
        {# Lien vers la page suivante #}
        <li class="page-item {% if livraisons.getCurrentPageNumber() == livraisons.pageCount %}disabled{% endif %}">
            <a class="page-link" href="{{ path('livraison_index', {'page': livraisons.getCurrentPageNumber() + 1}) }}">Next</a>
        </li>
    </ul>
</nav>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Écoute des changements dans le champ de recherche
        var searchInput = document.getElementById('livraison_search_search');
        searchInput.addEventListener('input', function() {
            var searchTerm = this.value.trim(); // Récupère la valeur du champ de recherche et retire les espaces vides
            var url = '{{ path('livraison_search') }}?searchTerm=' + searchTerm;

            // Envoi de la requête AJAX pour récupérer les résultats de la recherche
            fetch(url)
                .then(response => response.text())
                .then(data => {
                    document.getElementById('livraison-list').innerHTML = data;
                });
        });
    </script>
{% endblock %}
