{% extends 'GestionAdresseLivraison/livraison/bars.html.twig' %}

{% block title %}Détails de la Livraison{% endblock %}

{% block body %}
    <h1>Détails de la Livraison</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ livraison.id }}</td>
            </tr>
            <tr>
                <th>Date de Livraison</th>
                <td>{{ livraison.dateDeLivraison ? livraison.dateDeLivraison|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ livraison.statut }}</td>
            </tr>
            <tr>
                <th>Dépôt</th>
                <td>{{ livraison.depot }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('livraison_index') }}">Retour à la liste des Livraisons</a>

    <a href="{{ path('livraison_edit', {'id': livraison.id}) }}">Modifier</a>

    {{ include('livraison/_delete_form.html.twig') }}
{% endblock %}
