{# user/login.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <h1>Login</h1>

   
        

    <form method="post">
        {{ form_start(form) }}
        <div class="mb-3">
            {{ form_label(form.email) }}
            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="mb-3">
            {{ form_label(form.mdp) }}
            {{ form_widget(form.mdp, {'attr': {'class': 'form-control'}}) }}
        </div>
       
        {{ form_end(form) }}
    </form>
{% endblock %}
