<!DOCTYPE html>
<html>
<head>
    <title>User List PDF</title>
</head>
<body>
    <h1>User List</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Email</th>
                <th>Telephone</th>
                <th>Is Approved</th>
                <th>Is Blocked</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.fullname }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.tel }}</td>
                    <td>{{ user.isApproved ? 'Yes' : 'No' }}</td>
                    <td>{{ user.isBlocked ? 'Yes' : 'No' }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
